.wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: -6px;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    #000 6px,
    #000 calc(100% - 12px),
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    #000 6px,
    #000 calc(100% - 12px),
    transparent
  );
}

.content {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 6px;
}

.animate {
  animation-name: animateText;
  animation-timing-function: linear;
}

@keyframes animateText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--translateXTextAnimation));
  }
  100% {
    transform: translateX(0);
  }
}
